extends ./layout/index

block contenido
    main.container.mt-5 
        .row 

            .col-md-5
                img(src="img/nosotros.jpg", alt="Img nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}

                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel est auctor, interdum justo ac, ultricies urna. Donec eleifend sapien et auctor mattis. Curabitur in purus sit amet urna dignissim vulputate non at leo. Vivamus ex nunc, finibus vel leo ultrices, eleifend laoreet orci. Fusce commodo turpis ut libero tempus pretium. Duis in nisi eros. Fusce ultricies sodales accumsan. Class aptent taciti sociosqu ad litora torquent

                p blandit tortor scelerisque non. Quisque vel enim nec nibh luctus sollicitudin. Proin placerat iaculis condimentum. Pellentesque semper dictum tellus, vel semper sapien. Curabitur ut finibus sapien. Proin sed libero dolor. Morbi in commodo enim, sed faucibus tellus. Vivamus sed diam in dolor volutpat feugiat quis a arcu. Integer ac arcu non nulla lobortis lacinia at eu justo. Suspendisse ac dui lacus. Donec non libero blandit sapien feugiat varius. Sed eu commodo ante. Curabitur id tincidunt urna.

        .listado-iconos
            .container.mt-5.py-5.text-center    
                .row 
                    .col-md-4
                        img(src="img/icono_seguridad.svg", alt="seg" class="img-fluid md-5")
                        h2.mb-4 Seguridad
                        p blandit tortor scelerisque non. Quisque vel enim nec nibh luctus   p blandit tortor scelerisque non. Quisque vel enim nec nibh luctus 

                    .col-md-4
                        img(src="img/icono_destinos.svg", alt="seg" class="img-fluid md-5")
                        h2.mb-4 Mejores Destinos
                        p blandit tortor scelerisque non. Quisque vel enim nec nibh luctus   p blandit tortor scelerisque non. Quisque vel enim nec nibh luctus 

                    .col-md-4
                        img(src="img/icono_precios.svg", alt="seg" class="img-fluid md-5")
                        h2.mb-4 Los Mejores Precios
                        p blandit tortor scelerisque non. Quisque vel enim nec nibh luctus   p blandit tortor scelerisque non. Quisque vel enim nec nibh luctus 